<div class="head-title">
  <h1 class="title">HN Feed</h1>
  <h3 class="subtitle">We <3 hacker new!</h3>
</div>

<div class="posts-wrapper">
  <ul>
    <li *ngFor="let post of posts">
      <hn-feed-posts [post]="post" (delete)="deletePost()"></hn-feed-posts>
    </li>
  </ul>
</div>
<div *ngIf="posts.length===0">
  <p>No data to show. Do you want update from Hacker news? Click in the button below</p>
  <button (click)="collectData()">Update from Hacker News</button>
</div>
<div class="pagination-wrapper">
  <button *ngIf="posts.length > 0" class="pagination-controls" (click)="showMore()">Show More ⬇</button>
</div>
